@import "tailwindcss";

body {
  font-family: var(--font-inter), ui-sans-serif, system-ui;
  background-color: #0b0b0f;
  color: #f2f2f2;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fade-up 0.8s ease forwards;
}
